*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

#content {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #DB7E4D;
  color: #FFF;
  font-family: "Montserrat";
}

.landing-container {
  text-align: center;
  height: 100vh;
  padding: 2%;

  .landing-wrapper {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    .image-wrapper {
      position: relative;
      margin: 0 auto;
      height: 500px;
      width: 500px;
      text-align: center;

      .landing-image {
        position: absolute;
        left: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;

        img {
          z-index: 2;
          width: 100%;
        }

        &.bottom {
          img {
            z-index: 1;
            width: 100%;
            opacity: 0;
            -webkit-transition: opacity 0.25s linear;
            -moz-transition: opacity 0.25s linear;
            -o-transition: opacity 0.25s linear;
            transition: opacity 0.25s linear;
          }
        }
      }

      &:hover {
        .landing-image {
          &.bottom {
            img {
              opacity: 1;
              cursor: pointer;
            }
          }
        }
      }
    }

    .title-wrapper {
      display: inline-block;
      vertical-align: middle;

      .title {
        display: inline-block;
        font-size: 90px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .subtitle {
        img {
          display: inline-block;
          height: 23px;
          width: auto;
        }
      }
    }

    .link {
      width: 9rem;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      padding: 15px;
      text-transform: uppercase;
      -webkit-transition: letter-spacing 0.25s linear;
      -moz-transition: letter-spacing 0.25s linear;
      -o-transition: letter-spacing 0.25s linear;
      transition: letter-spacing 0.25s linear;

      &:hover {
        cursor: pointer;
        letter-spacing: 0.2rem;
      }
    }
  }
}

.about-container {
    padding: 5% 20px 5% 20px;
    height: 130vh;
}

  .title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }

.about-container .about-info {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.25rem;
  }
}

.about-container .about-info.centered {
  text-align: center;
  height: 90px;
  line-height: 50px;
}

.about-icon {
  vertical-align: middle;
  height: 35px;
  width: 35px;
  margin: 10px;
}

.about-info a {
  color: inherit;
  font-weight: bold;
}

.about-img-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;

  .about-photo {
    position: absolute;
    width: 33%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: all 0.6s ease;

    &.hex1 {
      background-image: url('/img/about/hex1.jpg');
    }
    &.hex2 {
      background-image: url('/img/about/hex2.jpg');
      margin-left: 33%;
    }
    &.hex3 {
      background-image: url('/img/about/hex3.jpg');
      margin-left: 66%;
    }

    h1 {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      width: 100%;
      margin-left: 0;
      z-index: 2;
    }
  }
}

.schedule-container {
  padding: 5% 20px 5% 20px;

  .title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }
}

@media (max-width: 600px) {
  .landing-container {
    .landing-wrapper {
      .image-wrapper {
        height: 400px;
        width: 400px;
      }
    }
  }
}

@media (max-width: 515px) {
  .landing-container {
    .landing-wrapper {
      .link {
        &.nav-big {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .landing-container {
    .landing-wrapper {
      .image-wrapper {
        height: 300px;
        width: 300px;
      }

      .title-wrapper {
        .title {
          font-size: 75px;
        }

        .subtitle {
          img {
            height: 20px;
          }
        }
      }
    }
  }
}
