*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

#content {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #1F315F;
  color: #FFF;
  font-family: "Montserrat";
}

.landing-container {
  text-align: center;
  height: 100vh;
  padding: 2%;

  .landing-wrapper {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    .image-wrapper {
      position: relative;
      margin: 0 auto 24px auto;
      height: 500px;
      width: 500px;
      text-align: center;

      .landing-image {
        position: absolute;
        left: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;

        img {
          z-index: 2;
          width: 100%;
        }
      }
    }

    .title-wrapper {
      display: inline-block;
      vertical-align: middle;

      .title {
        display: inline-block;
        font-size: 90px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .subtitle {
        img {
          display: inline-block;
          height: 23px;
          width: auto;
        }
      }
    }

    .link {
      width: 12rem;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      padding: 15px;
      text-transform: uppercase;
      -webkit-transition: letter-spacing 0.25s linear;
      -moz-transition: letter-spacing 0.25s linear;
      -o-transition: letter-spacing 0.25s linear;
      transition: letter-spacing 0.25s linear;
      font-size: 1.25rem;

      &:hover {
        cursor: pointer;
        letter-spacing: 0.3rem;
      }
    }

    .nav-small {
      margin-top: 2rem;
      display: none;

      .link {
        padding: 0;
      }
    }
  }
}

.about-container {
  padding: 5% 20px 5% 20px;
  height: auto;

  .title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }

  .about-info {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.25rem;

    &.info {
      text-align: center;
      line-height: 3rem;
      padding-left: 0;
      padding-right: 0;

      @media screen and (max-width: 490px) {
        width: 260px;
        margin: 0 auto;
      }
    }

    .about-bullet {
      display: inline-block;
      width: auto;

      @media screen and (max-width: 490px) {
        text-align: left;
        width: 100%;
      }

      .about-icon {
        vertical-align: middle;
        height: 35px;
        width: 35px;
        margin: 10px;
      }

      span {
        position: relative;
        top: 2px;
      }

      @media screen and (max-width: 490px) {
        display: block;
      }
    }

    a {
      color: inherit;
      font-weight: bold;
    }
  }
}

.about-img-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;

  .about-photo {
    position: absolute;
    width: 33%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: all 0.6s ease;

    &.hex1 {
      background-image: url('/img/about/hex1.jpg');
    }

    &.hex2 {
      background-image: url('/img/about/hex2.jpg');
      margin-left: 33%;
    }

    &.hex3 {
      background-image: url('/img/about/hex3.jpg');
      margin-left: 66%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: black;
      opacity: 0.5;
    }

    h1.about-photo-text {
      width: 100%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
      font-size: 0;
      line-height: 0;

      .letters {
        display: inline-block;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 1;
        margin: 0 1px;
      }

      @media (max-width: 660px) {
        .letters {
          display: block;
          line-height: 1.5;
          margin: 0;
        }
      }
    }

    &:hover {
      width: 100%;
      margin-left: 0;
      z-index: 2;
    }
  }
}

.schedule-container {
  padding: 5% 20px 5% 20px;

  .title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }

  .schedule-wrapper {
    font-size: 0;
    line-height: 0;

    .column {
      padding: 1.75rem;
      display: inline-block;
      width: 49%;
      margin-right: 2%;
      font-size: 1.5rem;
      line-height: 1.6;
      vertical-align: top;

      &:nth-child(2n) {
        margin-right: 0;
      }

      .day {
        margin-bottom: 1.75rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.25rem;
      }

      .workshop-wrapper {
        .time-section {
          font-size: 0;
          margin-bottom: 2rem;

          .time-column {
            font-family: 'Lato', Helvetica, Arial, sans-serif;
            display: inline-block;
            vertical-align: top;
            width: 80px;
            font-size: 1.2rem;
            line-height: 1.8;
            font-weight: 300;
          }

          .facilitator-column {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 80px);
            font-size: 1.4rem;

            .facilitator {
              margin-bottom: 1.5rem;

              .workshop-title {
                padding-right: 16px;
                border-bottom: 1px dashed white;

                &::after {
                  content: "";
                  position: absolute;
                  top: 41.5%;
                  right: 2px;
                  width: 0;
                	height: 0;
                	border-left: 7px solid transparent;
                	border-right: 7px solid transparent;
                	border-top: 7px solid white;

                  transition: border 0.15s linear;
                }

                &.open {
                  &::after {
                    border: none;
                    border-left: 7px solid transparent;
                  	border-right: 7px solid transparent;
                  	border-bottom: 7px solid white;

                  }
                }
              }

              .details {
                display: none;
                padding-bottom: 2.5rem;
                font-family: "Lato", sans-serif;
                font-weight: 300;
                font-size: 1.3rem;

                .about {
                  padding: 0.5rem;
                  font-size: 1.3rem;
                }

                .software {
                  position: relative;
                  display: inline-block;
                  vertical-align: top;
                  padding-left: 0.5rem;
                  padding-right: 0.5rem;
                }

                .level {
                  position: relative;
                  display: inline-block;
                  vertical-align: top;
                  top: 2px;
                  padding: 0.5rem;
                  font-size: 0.9rem;
                }

                .picture {
                  margin: 1.5rem auto 0.5 auto;
                  max-width: 100%;
                  height: 275px;
                  width: 275px;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center center;
                }

                .name {
                  text-align: center;
                  font-size: 1.25rem;
                  font-weight: 400;
                }

                .link {
                  text-align: center;
                  font-size: 0.9rem;

                  a {
                    color: white;
                    letter-spacing: normal;
                    text-decoration: none;

                    transition: letter-spacing 0.15s;

                    &:hover {
                      color: white;
                      letter-spacing: 0.1rem;
                    }
                  }
                }
              }
            }
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.footer {
  margin: 10px auto 40px auto;
  height: 50px;
  text-align: center;

  img {
    height: 100%;
  }
}

@media (max-width: 800px) {
  .schedule-container {
    .schedule-wrapper {
      .column {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 640px) {
  .column {
    padding: 0.1rem;
  }

  .landing-container {
    .landing-wrapper {
      .image-wrapper {
        height: 400px;
        width: 400px;
      }
    }
  }
}

@media (max-width: 620px) {
  .landing-container {
    .landing-wrapper {
      .link {
        &.nav-big {
          display: none;
        }
      }

      .nav-small {
        display: block;
      }
    }
  }
}

@media (max-width: 450px) {
  .landing-container {
    .landing-wrapper {
      .image-wrapper {
        height: 300px;
        width: 300px;
      }

      .title-wrapper {
        .title {
          font-size: 75px;
        }

        .subtitle {
          img {
            height: 20px;
          }
        }
      }
    }
  }
}
