<!-- Innovative Design - HEX: (H)one & (Ex)plore -->
<!-- By Julia Sun (http://juliasun.io/) -->
<!-- With help from Kevin Lee (http://kevinmlee.io) & Christian Le (http://christianle.com) -->
<html id="ng-app" data-ng-app="hex">
  <head>
    <title>HEX: (H)one &amp; (Ex)plore with Innovative Design</title>
    <meta name="viewport" content="initial-scale=1">

    <meta property="og:title" content="HEX Workshops">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://hex.innovativedesign.club">
    <meta property="og:image" content="http://hex.innovativedesign.club/img/logo/og.png">
    <meta property="og:description" content="Innovative Design presents HEX: Hone &amp; Explore, a workshop series where students come to learn and teach design. Spring 2016 workshops will be hosted on February 27 and 28.">

    <link rel="icon" type="image/png" href="img/logo/logo.png">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./js/app.js"></script>

  </head>
  <body id="content" ng-controller="MainCtrl">
    <div class="landing-container">
      <div class="landing-wrapper">
        <div class="image-wrapper" id="image-wrapper">
          <div class="landing-image top">
            <img src="./img/landing/landing-image.png" alt="">
          </div>
          <div class="landing-image bottom">
            <img src="./img/landing/landing-image-hover.png" alt="">
          </div>
        </div>
        <div class="link nav-big" id="about">about</div>
        <div class="title-wrapper">
          <div class="title">hex</div>
          <div class="subtitle">
            <img src="./img/landing/subtitle.png" alt="">
          </div>
        </div>
        <div class="link nav-big" id="schedule">schedule</div>
        <div class="nav-small">
          <div class="link" id="about-small">
            about
          </div>
          <div class="link" id="schedule-small">
            schedule
          </div>
        </div>
      </div>
    </div>
    <div class="about-container" id="about-container">
      <div class="title">about</div>
      <div class="about-info info">
        <div class="about-bullet">
          <img class='about-icon' src="./img/about/hex-icon-cal.png">
          <span>February 27 &amp; 28</span>
        </div>
        <div class="about-bullet">
          <img class='about-icon' src="./img/about/hex-icon-clock.png">
          <span>11:00 AM - 4:30PM</span>
        </div>
        <div class="about-bullet">
          <img class='about-icon' src="./img/about/hex-icon-pin.png">
          <span>Barrows 151, 155, 170</span>
        </div>
      </div>
      <div class="about-info">
        <p>HEX: Hone &amp; Explore is a workshop series where students come to learn and teach design.</p>
        <br>
        <p>Workshops are taught by members and alumni of <a href="http://innovativedesign.club">Innovative Design</a>.  They are free and open to ALL skill levels and Cal students! Come out to learn from and meet fellow design-minded students.</p>
      </div>
      <div class="about-info">
        <div class="about-img-container">
          <div class="about-photo hex1">
            <h1 class="about-photo-text">
              <div class="letters">h</div>
              <div class="letters">o</div>
              <div class="letters">n</div>
              <div class="letters">e</div>
            </h1>
          </div>
          <div class="about-photo hex2">
            <h1 class="about-photo-text">
              <div class="letters">
                &amp;
              </div>
            </h1>
          </div>
          <div class="about-photo hex3">
            <h1 class="about-photo-text">
              <div class="letters">e</div>
              <div class="letters">x</div>
              <div class="letters">p</div>
              <div class="letters">l</div>
              <div class="letters">o</div>
              <div class="letters">r</div>
              <div class="letters">e</div>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="schedule-container" id="schedule-container">
      <div class="title">schedule</div>
      <div class="schedule-wrapper">
        <div class="column">
          <div class="day">saturday</div>
          <div class="workshop-wrapper" ng-repeat="time in saturday track by $index">
            <div class="time-section">
              <div class="time-column" ng-bind="time.time"></div>
              <div class="facilitator-column">
                <div class="facilitator" ng-repeat="facilitator in time.people">
                  <div class="workshop-title" ng-bind="facilitator.workshop"></div>
                  <div class="details">
                    <div class="about" ng-bind="facilitator.about"></div>
                    <div class="software" ng-bind="facilitator.software"></div>
                    <div class="level" ng-bind="facilitator.level"></div>
                    <div class="picture" ng-style="{ 'background-image': 'url({{ facilitator.image }})' }"></div>
                    <div class="name" ng-bind="facilitator.name"></div>
                    <div class="link">
                      <a ng-href="{{ facilitator.link }}" target="_blank">Portfolio</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="day">sunday</div>
          <div class="workshop-wrapper" ng-repeat="time in sunday track by $index">
            <div class="time-section">
              <div class="time-column" ng-bind="time.time"></div>
              <div class="facilitator-column">
                <div class="facilitator" ng-repeat="facilitator in time.people">
                  <div class="workshop-title" ng-bind="facilitator.workshop"></div>
                  <div class="details">
                    <div class="about" ng-bind="facilitator.about"></div>
                    <div class="software" ng-bind="facilitator.software"></div>
                    <div class="level" ng-bind="facilitator.level"></div>
                    <div class="picture" ng-style="{ 'background-image': 'url({{ facilitator.image }})' }"></div>
                    <div class="name" ng-bind="facilitator.name"></div>
                    <div class="link">
                      <a ng-href="{{ facilitator.link }}" target="_blank">Portfolio</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <a href="http://innovativedesign.club">
        <img src="./img/logo/innod.png">
      </a>
    </div>
  </body>
</html>
