@import "_variables.scss";

.schedule__container {
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: $green;

    .schedule { 
        padding-top: 100px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        
        .weekend {
            display: inline-block;
            vertical-align: top;
            text-align: left; 
            color: white;
            margin-left: 10px;
            margin-right: 10px;
            width: calc( ( 100% - 3*20px) / 3);

            .date {
                font-weight: initial;
                font-size: 18px;
            }

            .title { 
                font-weight: 600; 
                font-size: 24px;

                img {
                    display: inline;
                    height: 24px;
                    width: auto;
                    padding-right: 5px;
                }
            }
            ul {
                padding-left: 0;
                padding-right: 20px;
                list-style: none;
                margin-top: 20px;

                li {
                    font-size: 16px;
                    margin-bottom: 35px;
                    
                    .time {
                        display: inline-block;
                        width: 40px;
                        text-align: left; 
                        height: 100%;
                        vertical-align: top;
                    }

                    .description {
                        display: inline-block;
                        height: 100%;
                        width: calc(100% - 55px);
                        margin-left: 15px;
                    }
                }
            }

            @media(max-width: 796px) {
                width: 100%;
                display: block;
            }
        }
        @media(max-width: 796px) {
            padding-bottom: 100px;
        }
    }
}