.app {
  width: 100%;
  height: 100%; }
  .app .plants {
    position: fixed;
    width: 15%;
    min-width: 85px;
    height: auto;
    z-index: 100;
    opacity: 0.7; }
    .app .plants.ferns {
      opacity: 0.3; }
    .app .plants.top_left {
      top: 0;
      left: 0; }
    .app .plants.top_right {
      top: 0;
      right: 0; }
    .app .plants.bottom {
      bottom: 0;
      left: 0; }
